
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Aseguramos que el cuerpo ocupe toda la pantalla */
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #ffffff; /* Color de fondo opcional */
}

div #titulo{
    display: flex; /* Flexbox adicional, útil si hay varios elementos en el contenedor */
    justify-content: center;
    align-items: center;
  }

footer{
   padding: 10%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;

}